extends layout.pug
block content
        section#content
        br
        span Result(s):
        ol
                each val in name
                        li= val
                                a(href='#') view profile
                        br